{
    "parser": "babel-eslint",
    "rules": {
        "semi": "error",
        "linebreak-style":0,
        "no-console":"off",
        "one-var": [2, "never"],
        "no-empty-function":"off",
        "sort-imports": ["off", {
            "ignoreCase": false,
            "ignoreMemberSort": false,
            "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
        }],
          "sort-keys": ["off"],
          "no-undef":"off",
          "no-unused-vars":"off",
          "no-magic-numbers":"off",
          "class-methods-use-this":"off",
          "padded-blocks": ["error", "never"],
          "react/no-did-mount-set-state": 2
    },
    "globals": {
        "it" : true,
        "describe" : true,
        "expect" :true,
        "test":true
    },
    "plugins": ["react"],"extends": ["eslint:recommended", "plugin:react/recommended"]
 }