
{
  "env": {
    "es6": true,
	"node": true,
	"browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", "tab"],
	"no-console": 0,
	"react/prop-types": 2,
	"react/jsx-uses-vars": 2,
	"react/jsx-no-bind": 2,
	"react/jsx-no-duplicate-props": 2,
	"react/self-closing-comp": 2,
	"react/no-direct-mutation-state": 2,
	"react/jsx-indent": [2, "tab"],
	"react/no-did-mount-set-state": 2
  },
  "globals": {
	"test": true,
	"it": true,
	"xit": true,
	"describe": true,
    "expect": true,
	"jest": true,
	"document": true,
	"beforeEach": true
  },
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
