.cell-box {
    background-color: #2c98f0;
    padding: 20px 40px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 3px 3px 1px #cccccc;
    font-weight: bold;
    display: inline;
}

.display-inline {
    display: inline;
}