
.cell {
    background-color: rgb(3, 117, 223);
    height: 10vw;
    width: 10vw;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 60px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
  }

  .disabled-cell {
    pointer-events: none;
  }

  .cell-box {
      vertical-align: middle;
      display: inline-flex;
      justify-content: center;
      align-items: center;
  }