.Cell{
    width:80px;
    height: 80px;
    margin: 3px;
    border:0;
    border-radius:2px;
    display : inline-block;
    text-align: center;
    justify-content: center;
    background-color:#2196F3;
    color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.Cell2{
    width:80px;
    height: 80px;
    overflow: hidden
}