.btn {
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    font-size: 20px;
}
.btn.btn-reset {
    background-color: yellow;
    color: black;
}

.box-container {
    text-align: center;
}
.title {
    font-size: 36px;
    color: red;
}
.info {
    font-size: 18px;
    color: blue;
}
.row-container {
    margin: 30px;
    padding: 20px;
    border: 5px solid grey;
    background-color: lightgray;
    display: flex;
    height: 40vh;
    justify-content: center;
    flex-direction: column;
}
.message {

}
.credit {
    position: fixed;
    bottom: 0;
    right: 0;
}